<h2 class="text-2xl font-bold mb-4 text-pink-600">Agregar nuevo producto</h2>
<form [formGroup]="form" (ngSubmit)="onAdd()">
    <div class="mb-4">
        <label class="font-semibold">Nombre del Producto *</label>
        <input formControlName="name" class="w-full border rounded-lg p-2 mt-1"
               placeholder="Ejemplo: Tenis deportivos"/>
        <div class="text-xs text-gray-500 mt-1">Ingrese el nombre del producto.</div>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-red-500 text-sm">
            El nombre es obligatorio.
        </div>
    </div>
    <div class="mb-4">
        <label class="font-semibold">Precio unitario *</label>
        <input formControlName="unit_price" type="number" class="w-full border rounded-lg p-2 mt-1"/>
        <div class="text-xs text-gray-500 mt-1">Establezca el precio de venta al público.</div>
        <div *ngIf="form.get('unit_price')?.invalid && form.get('unit_price')?.touched" class="text-red-500 text-sm">
            El precio unitario es obligatorio y debe ser positivo.
        </div>
    </div>
    <div class="mb-4">
        <label class="font-semibold">Stock *</label>
        <input formControlName="stock" type="number" step="1" class="w-full border rounded-lg p-2 mt-1"
               placeholder="100"/>
        <div class="text-xs text-gray-500 mt-1">¿Cuántas unidades hay disponibles?</div>
        <div *ngIf="form.get('stock')?.invalid && form.get('stock')?.touched" class="text-red-500 text-sm">
            El stock es obligatorio, debe ser un número entero y positivo.
        </div>
    </div>
    <div class="mb-4">
        <label class="font-semibold">SKU</label>
        <input formControlName="sku" class="w-full border rounded-lg p-2 mt-1"/>
        <div class="text-xs text-gray-500 mt-1">Opcional: Código interno para inventario.</div>
    </div>
    <div class="mb-4">
        <label class="font-semibold">Precio al por mayor</label>
        <input formControlName="wholesale_price" type="number" class="w-full border rounded-lg p-2 mt-1"/>
        <div class="text-xs text-gray-500 mt-1">Opcional: Precio para ventas al por mayor.</div>
        <div *ngIf="form.get('wholesale_price')?.invalid && form.get('wholesale_price')?.touched"
             class="text-red-500 text-sm">
            El precio al por mayor no puede ser negativo.
        </div>
    </div>
    <div class="flex justify-end gap-2 mt-6">
        <button type="button" class="px-4 py-2 bg-gray-200 rounded-lg" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="px-4 py-2 bg-pink-600 text-white rounded-lg" [disabled]="form.invalid">Añadir
            producto
        </button>
    </div>
</form>
